# Healtcare coverage from:
LINK

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import utils
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)
pd.set_option('display.float_format', lambda x: '%.10f' % x)

In [31]:
df = pd.read_csv('datasets/healtcare_coverage.csv')

## check for data anomalies

In [32]:
df = df[['COU','Country','Year','Value']]
df[df.Value > 100]
# only 2 entries for latvia 2020, 2021 => not using anyways

     COU         Country  Year          Value
52   CZE  Czech Republic  2014 100.2000000000
269  ESP           Spain  2020 100.7000000000

Values larger then 100??  
range: [72.4; 100.7] ??

In [33]:
df

     COU    Country  Year          Value
0    AUS  Australia  2010 100.0000000000
1    AUS  Australia  2011 100.0000000000
2    AUS  Australia  2012 100.0000000000
3    AUS  Australia  2013 100.0000000000
4    AUS  Australia  2014 100.0000000000
..   ...        ...   ...            ...
415  LVA     Latvia  2017 100.0000000000
416  LVA     Latvia  2018 100.0000000000
417  LVA     Latvia  2019 100.0000000000
418  LVA     Latvia  2020 100.0000000000
419  LVA     Latvia  2021 100.0000000000

[420 rows x 4 columns]

# clean data

In [34]:
# rename columns
df = df.rename(columns={
    'COU':'country_code',
    'Country':'country',
    'Year':'year',
    'Value':'healthcare_coverage'
})
df

    country_code    country  year  healthcare_coverage
0            AUS  Australia  2010       100.0000000000
1            AUS  Australia  2011       100.0000000000
2            AUS  Australia  2012       100.0000000000
3            AUS  Australia  2013       100.0000000000
4            AUS  Australia  2014       100.0000000000
..           ...        ...   ...                  ...
415          LVA     Latvia  2017       100.0000000000
416          LVA     Latvia  2018       100.0000000000
417          LVA     Latvia  2019       100.0000000000
418          LVA     Latvia  2020       100.0000000000
419          LVA     Latvia  2021       100.0000000000

[420 rows x 4 columns]

In [35]:
# refernce data from suicide set only is until 2015 => only take that fraction
df.year.value_counts().sort_index()

2010    35
2011    35
2012    35
2013    35
2014    36
2015    35
2016    36
2017    39
2018    39
2019    38
2020    37
2021    20
Name: year, dtype: int64

In [36]:
df = df[df.year.between(2010,2015)]
df.year.value_counts().sort_index()

2010    35
2011    35
2012    35
2013    35
2014    36
2015    35
Name: year, dtype: int64

In [37]:
df.country_code.nunique()
df.year.nunique()
df.groupby(['country']).count().sort_values('year')

                 country_code  year  healthcare_coverage
country
Spain                       2     2                    2
Russia                      5     5                    5
Australia                   6     6                    6
Lithuania                   6     6                    6
Mexico                      6     6                    6
Netherlands                 6     6                    6
New Zealand                 6     6                    6
Norway                      6     6                    6
Poland                      6     6                    6
Portugal                    6     6                    6
Slovak Republic             6     6                    6
Slovenia                    6     6                    6
Sweden                      6     6                    6
Switzerland                 6     6                    6
TÃ¼rkiye                     6     6                    6
Korea                       6     6                    6
Japan                       6     6                    6
Italy                       6     6                    6
Israel                      6     6                    6
Austria                     6     6                    6
Belgium                     6     6                    6
Canada                      6     6                    6
Chile                       6     6                    6
Colombia                    6     6                    6
Costa Rica                  6     6                    6
Czech Republic              6     6                    6
Denmark                     6     6                    6
Estonia                     6     6                    6
Finland                     6     6                    6
France                      6     6                    6
Germany                     6     6                    6
Hungary                     6     6                    6
Iceland                     6     6                    6
Ireland                     6     6                    6
United Kingdom              6     6                    6
United States               6     6                    6

In [38]:
# => spain and russia have not all data
# => rm
df = df[~df.country.isin(['Spain','Russia'])]
df.groupby(['country']).count().sort_values('year')

                 country_code  year  healthcare_coverage
country
Australia                   6     6                    6
TÃ¼rkiye                     6     6                    6
Switzerland                 6     6                    6
Sweden                      6     6                    6
Slovenia                    6     6                    6
Slovak Republic             6     6                    6
Portugal                    6     6                    6
Poland                      6     6                    6
Norway                      6     6                    6
New Zealand                 6     6                    6
Netherlands                 6     6                    6
Mexico                      6     6                    6
Lithuania                   6     6                    6
Korea                       6     6                    6
Japan                       6     6                    6
Italy                       6     6                    6
Israel                      6     6                    6
Ireland                     6     6                    6
Austria                     6     6                    6
Belgium                     6     6                    6
Canada                      6     6                    6
Chile                       6     6                    6
Colombia                    6     6                    6
Costa Rica                  6     6                    6
United Kingdom              6     6                    6
Czech Republic              6     6                    6
Estonia                     6     6                    6
Finland                     6     6                    6
France                      6     6                    6
Germany                     6     6                    6
Hungary                     6     6                    6
Iceland                     6     6                    6
Denmark                     6     6                    6
United States               6     6                    6